/* CSS Itens Produtos */

/* TABELA DE PRODUTOS ITENS 
----------------------------------------------*/

.tb {
  width: 75%;
  height: auto;
  display: grid;
  grid-template-rows: 50px repeat(auto-fit, minmax(30px, auto));
  overflow: hidden;
}

.tb-head {
  display: grid;
  background-color: #688a8a;
  grid-template-columns: repeat(auto-fit, minmax(180px, 190px));
  grid-template-rows: repeat(auto-fit, minmax(5px, 50px));
}

.tb-head div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 5px;
  font-weight: bold;
  color: white;

}

.tb-body {
  display: grid;
  max-height: 65vh;
  overflow: auto;
  border: var(--b-row);
  border-color: #688a8a8a!important;
  border-top: none!important;
}

/* Width Scrollbar*/
.tb-body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
 
/* Handle */
.tb-body::-webkit-scrollbar-thumb {
  background: rgba(220, 220, 220);  
  border-radius: 10px;
}

.tb-body::-webkit-scrollbar-thumb:hover {
  background: rgba(150, 150, 150);  
}

.tb-row {  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 190px));
  grid-template-rows: repeat(auto-fit, minmax(15px, 50px));
  border-bottom: var(--b-row);
  border-color: #688a8a60!important;
  padding: .5rem 0;
}

.tb-row:hover{
  box-shadow: 3px 3px 4px #688a8a8a;
  cursor: pointer;
}

.tb-row:active{
  background-color: #dfdfdf;
}

.tb-col{
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* border-left: 1px solid black; */
}

.tb-col img{
  width: 40px;
  height: auto;
}


/* BUTTON CARREGAR ITENS
----------------------------------------------*/

.btn-carregar-itens{
  color: white;
  font-weight: bold;
  background-color: #688a8a;
  border: none;
  padding: 10px;
  border-radius: 50px;
  outline: none ;
  cursor: pointer;
}

.btn-carregar-itens:hover{
  background-color: #526d6d;

}

.btn-carregar-itens:active{
  background-color: #688a8a;

}