:root{
  --border-none: none;
  --border-row: 1px solid #dfdfdf;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

input[type='text'] {
  width: 200px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #afafaf;
  padding: 0.2em;
  text-align: center;
}

textarea::placeholder{
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: 400;
  font-stretch: normal;
  font-size: 13.3333px;
  line-height: normal;
  font-family: Arial;
}

/* Tabela Produtos ---------------------------------------------> */

.tbl{
  display: grid;
  grid-template-rows: auto;
  margin: 0.5rem;

}

.img-list{
  /* width: 64px; */
  /* height: 64px; */
  display: flex;
  padding: 3px;
  justify-content: center;
  align-items: center;
  /* border-radius: 4px; */
  /* border: 1px solid #dfdfdf; */
  background-position: center;
  overflow: hidden;
}

.t-title{
  display: grid;
  grid-template-columns: 1fr 1fr 7fr 1fr 1fr 0.3fr 1fr 1fr;
  font-weight: bold;
  text-align: center;
}

.t-row{
  display: grid;
  grid-template-columns: 1fr 10fr 1fr ;
  /* margin: 1px; */
  border: var(--border-row);

}

.t-row:hover{
  background-color: #f0f0f0;
}

.t-row:active{
  background-color: #fafafa;
}

.view-p{
  width: 100vmax;
  height: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  bottom: 0;
}

/* Modal -------------------------------------------------> */

.closed{
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #dfdfdf;
  font-weight: bold;
}

.box-text{
  padding: 0.2rem;
}

.modal-prod{
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
}

.box-img{
  width: 220px;
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  box-sizing: border-box;
  /* background-color: aliceblue; */
}

input[type='file'] {
  display: none;
}

textarea {
  resize: none;
  width: 200px;
  height: 70px;
  border-radius: 4px;
  border: 1px solid #afafaf;
  padding: 0.2em;
  text-align: center;
  /* background-color: rgb(80, 191, 255); */
}

label {
  background-color: #3498db;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin-top: 0.5rem;
  padding: 6px 20px;
}

.btnedit{
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50px;
  background-position: center;
  padding: 0;
  background-color: transparent;
  overflow: hidden;
  box-sizing: border-box;
}