/* CSS Itens Produtos */

/* LISTA DE PRODUTOS ITENS 
----------------------------------------------*/

.list-tbl{
  width: 70%;
}

.tbl-header{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  background-color: #688a8a;
  border-radius: 4px 4px 0px 0px;
}

.tbl-header div{
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  padding: 5px;
  font-weight: bold;
  color: white;
}

.tbl{
  display: grid;
  width: 100%;
  max-height: 65vh;
  overflow: auto;
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  border: var(--b-row);
  border-color: #688a8a8a!important;
  border-top: none!important;
}

/* Width Scrollbar*/
.tbl::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
 
/* Handle */
.tbl::-webkit-scrollbar-thumb {
  background: rgba(220, 220, 220);  
  border-radius: 10px;
}

.tbl-row{
  width: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, auto));
  border-bottom: var(--b-row);
  border-color: #688a8a60;
}

.tbl-row:hover{
  box-shadow: 3px 3px 4px #688a8a8a;
  cursor: pointer;
}

.tbl-row:active{
  background-color: #dfdfdf;
}

.tbl-col{
  overflow: hidden;
  
}

.tbl-col img{
  width: 40px;
  height: auto;
}

/* BUTTON CARREGAR ITENS
----------------------------------------------*/

.btn-carregar-itens{
  color: white;
  font-weight: bold;
  background-color: #688a8a;
  border: none;
  padding: 10px;
  border-radius: 50px;
  outline: none ;
  cursor: pointer;
}

.btn-carregar-itens:hover{
  background-color: #526d6d;

}

.btn-carregar-itens:active{
  background-color: #688a8a;

}