/** Container Buscar */

.formBuscar{
    width: 70%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.btn-new{
    color: white;
    background-color: var(--red);
    border: none;
    border-radius: 3px;
    font-size: 13.3333px;
    font-family: Arial;
    padding: 0.72rem 0.95rem 0.72rem 0.95rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.box-search{
    display: grid;
    grid-template-columns: auto auto;
}

.lbl-search{
    border: var(--b-row);
    border-right: none!important;
    border-radius: 3px 0 0 3px;
    padding: 0.5rem;
}

.lbl-search input{
    border: none!important;
    text-align: center;
    outline: none;
}

.lbl-search input:invalid ~ span:after {
    content: 'X';
    color: #dadada;
    font-weight: bold;
}

.lbl-search input:valid ~ span:after {
    content: '✓';
    color: #dadada;
    font-weight: bold;
}

.btn-search{
    border-radius: 0 3px 3px 0;
    padding: 0px 10px;
    background-color: var(--red);
    border: none;
}


/* CONTAINER ADICIONAR PRODUTO
===================================================>*/

.modal-prod1 {
    width: 75%;
    margin: 0 auto;
    /* display: flex; */
    justify-content: center;
    /* background-color: brown; */
    padding: 1rem;
    border-radius: 4px;
}

.box-image-modal {
    width: 82%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color:burlywood; */
    align-items: center;
    padding: 0.5rem;
    box-sizing: border-box;

}

/* File Modal---------------->*/
  
.box-image-modal input[type='file'] {
    display: none;
}
  
.box-image-modal label {
    background-color: var(--red);
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: 500 ;
    margin-top: 0.5rem;
    box-shadow: 1px 1px 10px rgb(255,0,0,0.8);
    padding: 6px 19px;
}

/* .box-image-modal img, .slide-prod:not(img){
    width: 200px;
    height: 250px;
} */

.box-input-modal {
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-template-rows: auto auto auto auto;
    /* background-color: cadetblue; */
}

.box-input-modal textarea, .box-input-modal input {
    margin: 0.5rem;
    height: 25px;
    border-radius: 4px;
    border: 1px solid #afafaf;
    padding: 0.2em;
    text-align: center;
}
  
.box-input-modal textarea {
    resize: none;
    min-height: 70px!important;
}
  
.box-input-modal textarea::placeholder{
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: 400;
    font-stretch: normal;
    font-size: 13.3333px;
    line-height: normal;
    font-family: Arial;
}

/* Checkbox Modal---------------->*/

.switch {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 20px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    outline: none ;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 2.5px;
    bottom: 3px;
    margin-top: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: var(--red);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #ccc;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
  
}
  
.slider.round:before {
    border-radius: 50%;
}

/* Button Modal---------------->*/

.box-btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#btn-salvar{
    margin-left: auto;
    border: none;
    font-weight: bold;
    background-color: var(--red);
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    box-shadow: 1px 1px 10px rgb(255,0,0,0.8);
    padding: 0.5rem;
    border-radius: 4px;
}
  
.btn-del{
    display: block;
}