/* Cascading Style Sheets (css)*/

ul, li, h1, h2, p, body {
  padding: 0px;
  margin: 0px;
}

:root{
--red: #ff1a8a;
--red-hover: #e60000;
--red-active: #b30000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

