/* @media screen and (max-width: 680px){ */

    #container-sprod {
        /* width: 100%; */
        height: auto;
        box-sizing: border-box;
        border: 1px solid #afafaf;
        position: relative;
    }

    #slider-sprod {
        width: 100%;
        overflow: hidden;
        padding-left: 262px;
        /* background-color: chocolate; */
        box-sizing: border-box;
    }

    #slides-sprod {
        display: flex;
        overflow: hidden;
        box-sizing: unset;
    }

    .slide-sprod{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .slide-sprod img{
        width: 300px;
        height: auto;
        margin: 0.5rem 2rem;
        box-shadow: 1px 1px 5px 1px rgba( 100, 100, 100, 0.7);
    }

    #menu-sprod {
        height: 60px;
        display: flex;
        left: 0;
        /* position: absolute;
        margin: 0 auto; */
        margin-bottom: 1rem;
        justify-content: center;
    }

    #menu-sprod ul {
        margin: 0 auto;
    }

    #menu-sprod li {
        width: 60px;
        height: 60px;
        display: inline-block;
        list-style: none;
        overflow: hidden;
    }

    #menu-sprod li .active {
        cursor: default;
    }

    #menu-sprod .sep {
        width: 2px;
        margin-right: -2px;
    }

    #menu-sprod li div {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    #menu-sprod div img {
        border: none;
    }
/* } */