/* CONTAINER ADICIONAR PRODUTO */

.main-form-produto {
    width: 75%;
    /* background-color: #f44336; */
}

.main-form-produto form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.main-form-produto>form>button {
    margin: 1rem;
}

.main-form-produto img {
    max-width: 300px;
}

.main-form-produto fieldset {
    display: grid;
    grid-template: repeat(3, auto) / repeat(12, 1fr);
}

.main-form-produto fieldset:disabled label {
    background-color: #cecece;
    color: #333;
}

.main-form-produto input, .main-form-produto select {
    height: 25px;
    border-radius: 3px;
}

.box-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.box-form label {
    font-size: 0.6rem;
}

.col-nome {
    grid-column: 1 / span 6;
}

.col-modelo {
    grid-column: 8 / span 2;
}

.col-tamanho {
    grid-column: 11 / span 2;
}

.col-desc {
    grid-column: 1 / span 9;
}

.col-preco {
    grid-column: 11 / span 2;
}

.main-form-produto textarea {
    min-height: 70px;
    border-radius: 3px;
}

.image-form-container {
    display: flex!important;
    justify-content: space-around!important;
    height: auto;
    flex-wrap: wrap;
    flex-direction: row!important;
}

.image-form-container>p {
    color: #888;
    font-size: 0.8rem;
    width: 100%;
}

.image-form-container img {
    width: 230px;
}

.btn-next {
    background-color: unset!important;
    /* background-color:  #202F31!important; */
    font-weight: bold;
    color: #777!important;
    align-items: center;
    grid-column: 10 / 12;
}