/* CONTAINER ADICIONAR PRODUTO
===================================================>*/

fieldset {
    width: 50%;
    /* background-color: #eeeeee; */
    border: 1px solid #eeeeee;
}
  
legend {
    /* background-color: gray; */
    color: #aaa;
    padding: 5px 10px;
}

.form-produto{
    width: 75%;
    /* background-color: coral; */
}

.form-produto img{
    max-width: 300px;
}

.cont-form-prod {
    flex-direction: column;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(20px, 1fr));
    padding: 1rem;
}

.cont-form-prod div{
    display: grid;
    padding: 0.5rem 0rem;
}

.cont-form-prod textarea,
.cont-form-prod input {
    height: 25px;
    border-radius: 3px;
    text-align: center;
}
  
.cont-form-prod textarea {
    min-height: 70px!important;
}

/* Button ---------------->*/

.cont-form-prod button{
    margin-left: auto;
}