/** Modal */

.view-prod {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    position: fixed;
    backdrop-filter: blur(1px);
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    bottom: 0;
    left: 0;
}

.modal {
    min-width: 300px;
    max-width: 50%;
    position: relative;
    justify-content: space-around!important;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
}

/* Close Modal
---------------->*/

.modal-close {
    position: absolute;
    right: 1rem;
    top: 0;
    font-size: 1.5rem;
    cursor: pointer;
    color: #afafaf;
    font-weight: bold;
}

/* Header Modal
---------------->*/

.modal-header {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

/* Container Modal
---------------->*/

.modal-container {
    padding: 0rem!important;
    flex-direction: row!important;
}

/* Imagem Modal
---------------->*/

.modal-img {
    width: 50%;
    height: auto;
    flex-direction: column;
}

.modal-img img {
    max-width: 100%;
    height: auto;
}

/* Content Modal 
---------------->*/

.modal-content {
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between!important;
    padding: 0rem!important;
}

.modal-text {
    max-height: 250px;
    word-wrap: break-word;
    text-align: center;
    overflow-y: auto;
    font-size: 1rem;
}

.modal-text::-webkit-scrollbar {
    width: 5px;
}

.modal-text::-webkit-scrollbar-thumb {
    background: rgba(220, 220, 220);
    border-radius: 10px;
}

.modal-content div {
    width: 100%;
    justify-content: space-between;
    padding: 0rem;
    flex-direction: row!important;
}

.modal-content div code {
    font-size: 0.8rem;
}

@media screen and (max-width:680px) {}