/* Modal
-------------------------------------------------> */

.view-prod{
    width: 100vmax;
    height: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    bottom: 0;
}

/*
Close Modal---------------->*/

.close{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 20px 0px 0px 20px;
    padding: 0px 15px 5px 10px;
    margin-right: 0px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #dfdfdf;
    font-weight: bold;
}
  
.close:hover{
    background-color: var(--red);
}

.modal-prod{
    max-width: 70%;
    display: flex;
    justify-content: space-around ;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    /* background-color: darkslategray; */
    background-color: white;
    border-radius: 5px;
}

.title-modal{
    /* width: 100%; */
    padding: 0.2rem;
    text-align: center;
    /* background-color: firebrick; */
}

.container-modal{
    display: flex;
}

.img-modal{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: dimgray; */
    padding: 0.5rem;
    box-sizing: border-box;

}

.img-modal img{
    max-width: 100%; 
    height: auto; 
}

.info-prod{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.box-text{
    padding: 0.2rem;
}

.content-modal{
    max-height: 45%;
    display: flex;
    word-wrap: break-word;
    text-align: center;
    overflow-y: auto;

}

.content-modal p{
    font-size: 1rem;
}

.cost-modal{
    margin-left: auto;
    font-weight: bold;
    color: rgb(0,200,10);
}

/* Button Modal---------------->*/

.box-btn-edit{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.box-btn-edit p{
    font-size: 0.9rem;
    
}

.link-edit-modal{
    color: white;
    font-weight: bold;
    background-color: var(--red);
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: bold;
    font-stretch: normal;
    font-size: 13.3333px;
    line-height: normal;
    font-family: Arial;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    padding: 3px 6px;
    margin-left: auto;
}

@media screen and (max-width:680px){}