/* Modal
-------------------------------------------------> */

.view-prod{
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    bottom: 0;
    left: 0;
}

.modal-prod{
    max-width: 70%;
    position: relative;
    justify-content: space-around!important;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
}

/* Close Modal
---------------->*/

.modal-close{
    position: absolute;
    right: 1rem;
    top: 0;
    font-size: 1.5rem;
    cursor: pointer;
    color: #afafaf;
    font-weight: bold;
}

.modal-header{
    width: 100%;
    text-align: center;

    border: var(--b-row);
}

.modal-container{
    display: flex;

    border: var(--b-row);
}

.modal-img{
    width: 50%;
    height: auto;
    flex-direction: column;

    border: var(--b-row);
    border-color:blueviolet;
}

.modal-img img{
    max-width: 100%; 
    height: auto; 
}

.modal-content{
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around!important;

    border: var(--b-row);
    border-color: blue;
}

.info-prod p{
    font-size: 1rem;
}

.info-prod{
    max-height: 250px;
    display: flex;
    word-wrap: break-word;
    text-align: center;
    overflow-y: auto;
}

.cost-modal{
    margin-left: auto;
    font-weight: bold;
    color: rgb(0,200,10);
}

/* Button Modal---------------->*/

.box-btn-edit{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.box-btn-edit p{
    font-size: 0.9rem;
    
}

@media screen and (max-width:680px){}