.main-footer, img{
    margin: 0 auto;
}

.main-footer{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    text-align: center;
    background-color: #dedede;
    position: relative;
    color: #959595;
    bottom: 0;
    width: 100vw;
}
.redes{
    display: flex;
    align-items: center;
}