    .content-body{
        width: 100%;
		height: auto;
		display: flex;
		justify-content: center;
		align-items: center;
    }

    .container-cards{
        width: inherit;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center ;
		padding: 0.5em;
    }
	
	.title-section{
		width:100%;
		text-align:center;
		color:#fff;
		font-size: 2rem;
		padding: 0.2rem;
		background-color:#003566;
		display: none;	
	}