@media screen and (min-width:1000px){}

@media only screen and (max-width: 999px) and (min-width: 681px){}

@media screen and (max-width:680px){

    .container-cards{
		height: auto;
		flex-wrap: wrap;
		justify-content: space-around;
		flex-direction: row;
    }

}