:root{
  --b-row: 1px solid #dfdfdf;
	--red: #ff1a1a;
	--red-hover: #e60000;
  --red-active: #b30000;
}

div{
  box-sizing: border-box;
}

input[type=text], textarea{
  border: var(--b-row);
}

textarea{
  resize: none;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: 400;
  font-stretch: normal;
  font-size: 13.3333px;
  line-height: normal;
  font-family: Arial;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.txt-price{
  margin-left: auto;
  font-weight: bold;
  color: rgb(0,200,10);

}

/******************************** INPUT BUTTON ********************************/

.btn-default{
  color: white;
  background-color: var(--red);
  border: none;
  border-radius: 3px;
  font-size: 13.3333px;
  font-family: Arial;
  padding: 0.72rem 0.95rem;
}

.btn-default:active{
  background-color: var(--red-active);
}

.btn-default:hover{
  background-color: var(--red-hover);
}

/******************************** INPUT FILE ********************************/
  
input[type='file'] {
  display: none;
}

.lbl-file {
  background-color: var(--red);
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  margin: 1rem;
  padding: 6px 19px;
}

.lbl-file:active{
  background-color: var(--red-active);
}

.lbl-file:hover{
  background-color: var(--red-hover);
}

/******************************** INPUT CHECKBOX ********************************/

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  outline: none ;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2.5px;
  bottom: 3px;
  margin-top: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--red);
}

input:focus + .slider {
  box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;

}

.slider.round:before {
  border-radius: 50%;
}

/******************************** SPINNER ********************************/

.spinner{
  width: 40px;
  height: 40px;
  border: 5px solid rgb(0,200,10);
  border-bottom-color: transparent!important;
  border-right-color: transparent!important;
  border-radius: 50%;
  margin: 5rem auto;
  animation: spin .5s linear infinite;
}

@keyframes spin {

  0%   {border-color:rgb(0,200,10); left:0px; top:0px;}
  25%  {border-color:rgb(0,200,60); left:200px; top:0px;}
  50%  {border-color:rgb(0,200,110); left:200px; top:200px;}
  75%  {border-color:rgb(0,200,160); left:0px; top:200px;}
  100% {border-color:rgb(0,200,210); left:0px; top:0px; transform: rotate(360deg);}
}

.txt-loading{
  animation: load 2s linear infinite;
}

@keyframes load {
  0%   {color:rgb(0,200,0);}
  5%   {color:rgb(0,200,20);}   
  10%  {color:rgb(0,200,40);}
  15%  {color:rgb(0,200,60);}
  20%  {color:rgb(0,200,80);}
  25%  {color:rgb(0,200,100);}
  30%  {color:rgb(0,200,120);}
  35%  {color:rgb(0,200,140);}   
  40%  {color:rgb(0,200,160);}
  45%  {color:rgb(0,200,180);}
  50%  {color:rgb(0,200,200);}
  55%  {color:rgb(0,200,180);}   
  60%  {color:rgb(0,200,160);}
  65%  {color:rgb(0,200,140);}
  70%  {color:rgb(0,200,120);}
  75%  {color:rgb(0,200,100);}
  80%  {color:rgb(0,200,80);}
  85%  {color:rgb(0,200,60);}   
  90%  {color:rgb(0,200,40);}
  95%  {color:rgb(0,200,20);}
  100% {color:rgb(0,200,10);}
}