:root {
  --b-row: 1px solid #dfdfdf;
  --red: #ff1a1a;
  --red-hover: #e60000;
  --red-active: #b30000;
}

a {
  text-decoration: none;
}

div, table, thead, tbody {
  box-sizing: border-box;
}

input[type=text], textarea, select, fieldset {
  border: var(--b-row);
}

legend {
  color: #aaa;
  padding: 5px 10px;
}

textarea {
  resize: none;
  font-style: normal;
  font-variant-ligatures: normal;
  font-variant-caps: normal;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-weight: 400;
  font-stretch: normal;
  font-size: 13.3333px;
  line-height: normal;
  font-family: Arial;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

.txt-price {
  margin-left: auto;
  font-weight: bold;
  color: rgb(0, 200, 10);
}

/******************************** INPUT BUTTON ********************************/

.btn-default {
  color: white;
  background-color: var(--red);
  border: none;
  border-radius: 3px;
  font-size: 13.3333px;
  font-family: Arial;
  padding: 0.72rem 0.95rem;
}

.btn-default:disabled {
  color: #555;
  background-color: #CCC;
  border: none;
  border-radius: 3px;
  font-size: 13.3333px;
  font-family: Arial;
  padding: 0.72rem 0.95rem;
}

.btn-default:active {
  background-color: var(--red-active);
}

.btn-default:hover {
  background-color: var(--red-hover);
}

/******************************** INPUT FILE ********************************/

input[type='file'] {
  display: none;
}

.lbl-file {
  background-color: var(--red);
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  margin: 1rem;
  padding: 6px 19px;
}

.lbl-file:disabled {
  background-color: #555!important;
  border-radius: 3px;
  color: #555;
  cursor: pointer;
  margin: 1rem;
  padding: 6px 19px;
}

.lbl-file:active {
  background-color: var(--red-active);
}

.lbl-file:hover {
  background-color: var(--red-hover);
}

/******************************** SWITCH ********************************/

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  outline: none;
}

.slider-switch:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2.5px;
  bottom: 3px;
  margin-top: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider-switch {
  background-color: var(--red);
}

input:focus+.slider-switch {
  box-shadow: 0 0 1px #ccc;
}

input:checked+.slider-switch:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider-switch.round {
  border-radius: 34px;
}

.slider-switch.round:before {
  border-radius: 50%;
}