@media screen and (max-width: 680px){

    #container {
        /* margin: 0 auto; */
        /* text-align: center; */
        width: 100vw;
        box-sizing: border-box;
        position: relative;
    }

    #slider {
        width: 100%;
        overflow: hidden;
    }

    #slides {
        /* width: 900px; */
        height: 300px;
        display: flex;
        justify-content: space-around;
        padding: 0 0 0 0;
        margin: 0;
        overflow: hidden;
        /* margin: 0; */
        /* padding: 20px 0 0 0; */
    }

    /* .slide-prod{

    } */

    #menu {
        display: flex;
        justify-content: center;
        /* background-color: tomato; */
        height: 60px;
    }

    #menu ul {
        margin: 0;
        padding: 10;
    }

    #menu li {
        width: 60px;
        margin-left: -4px;
        display: inline-block;
        list-style: none;
        height: 45px;
        overflow: hidden;
    }

    /* #menu li.active,
    #menu li.active:hover {

    } */

    #menu li.active {
        cursor: default;
    }

    #menu .sep {
        width: 2px;
        margin-right: -2px;
    }

    #menu li a {
        display: block;
        height: 35px;
        padding-top: 10px;
    }

    #menu a img {
        border: none;
    }
}