

#slider {
    width: 100%;
    overflow: hidden;
}

#slides {
    display: flex;
    overflow: hidden;
    box-sizing: unset;
}

.slide img{
    width: 100vw;
    height: auto;
}

/***** MENU SLIDE ******/

#slide-menu {
    height: 60px;
    display: flex;
    margin-top: 0.5rem;
    justify-content: center;
}

#slide-menu li {
    width: 10vmax;
    height: 60px;
    overflow: hidden;
}

#slide-menu li .active {
    cursor: default;
}

#slide-menu .sep {
    width: 2px;
    margin-right: -2px;
}

#slide-menu img {
    width: 100%;
    height: 100%;
    border: none;
}
