.login-container {
    width: 100vw;
    height: 100vh;
    background-color: white;
}

.login-form {
    width: 300px;
    background-color: white;
    box-shadow: 1px 1px 10px 6px rgba(50, 50, 50, 0.1);
    flex-direction: column;
    padding: 0.9rem;
    border-radius: 5px;
}

.login-form img {
    width: 128px;
    height: auto;
    margin-top: 2rem;
}

.login-form h1 {
    margin: 0;
    padding: 0;
    color: var(--red);
    text-align: center;
    font-style: italic;
}

.login-input {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 85%;
    padding: 1rem;
}

.login-input label {
    font-size: 0.9rem;
    color: #777;
}

.login-input input[type='password'], .login-input input[type='email'], .login-input input[type='text'] {
    padding: 0.3rem;
    margin-bottom: 0.5rem;
    border-width: 0px 0px 0.1rem 0px;
    border-color: #ccc;
}

/* .login-input input:invalid ~ span:after {
    content: 'X';
    color: #dadada;
    font-weight: bold;
}

.login-input input:valid ~ span:after {
    content: '✓';
    color: #dadada;
    font-weight: bold;
} */

.login-chk {
    width: 100%;
    margin-bottom: 1rem;
    font-size: 0.7rem;
}

.login-chk a {
    color: var(--red);
    text-decoration: none;
    margin-left: 50px;
}

.login-input button {
    background-color: var(--red);
    border: none;
    border-radius: 5px;
    padding: 0.7rem;
    color: white;
    font-weight: bold;
}