/* ##### CSS FOR DESKTOP #####  */

@media screen and (min-width:1000px){

    .navbar{
        width: 100%;
        padding: 0.2rem;
        top: 0;
        z-index: 1;
        background-color: var(--red);
        padding: 0.5rem;
    }
    
    /* Navbar's Input button */

    /* .navbar input[type=button]{
        width: 35px;
        height: 35px;
        background-color: var(--red);
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 3px;
        border: none;
        outline: none;
    } */

    /* .navbar input[type=button]:hover{
        background-color: var(--red-hover);
    } */

    /* .navbar input[type=button]:active{
        background-color: var(--red-active);

    } */

    /* .navbar > div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    } */

    /* .menu{
        width: 100%!important;
        height: 100%!important;
        left: 0;
        top: 0;
        background-color:rgba(0,0,0,0.5);
        position: fixed;
        overflow: auto;
        z-index: 0;
    } */

    /* .menu-close {
        display: none;
    } */

    /* .menu-open{
        display: flex;
        flex-direction: column;
    } */

    /* .item:first-child div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        background-color:salmon!important;
        padding: 0px;
    } */

    /* .nav-logo{
        width: auto!important;
        height: 35px;
    } */

    /* .btn-menu{
        background-image: url("../../../resources/img/menu-round.svg");
    } */

    /* .btn-user{
        background-image: url("../../../resources/img/user.svg");
    } */

    /* .btn-cart{
        background-image: url("../../../resources/img/cart-round.svg");
    } */
 
    /* .view-user{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: var(--red-hover);
        padding: 0.5rem;
        float: left;
        box-sizing: border-box;
    } */

    .img-user{
        width: 50px;
        height: 50px;
        background-color: white;
        border-radius: 50%;
    }

    /* .view-user label{
        font-size: 1rem;
        color: white;
        font-weight: bold;
    } */

    /* .menu li{
        width: 70%;
        color: #aeaeae;
        display: flex;
        flex-direction: column;
        justify-content: left;
        font-size: 1rem;
        background-color: rgb(255, 255, 255);
        text-align: left;
        padding:  0.5rem 0.5rem 0.5rem 2rem;
    } */

     
    /* .menu li:active {
         background-color: var(--red);
         color: white;
         font-weight: bold;
    } */

    /************** CLOSE **************/

    /* .close{
        text-align: right;
        color: #fafdff;
        font-weight: bold;
        font-size: 1.5rem;
        position: fixed;
        margin-left: auto;
        right: 0;
    } */

    /************** SEARCH **************/

    /* .container-search{
        display: flex;
        height: 40px;
        justify-content: center!important;
        align-items: center!important;
    } */

    /* .container-search input{
        width: 90%;
        height: 30px;
        border: none;
        border-radius: 50px;
        outline: none;
        text-align: center;
        caret-color: var(--red);
    } */

    /* .container-search input::placeholder{
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-variant-east-asian: normal;
        font-weight: 600;
        font-stretch: normal;
        color: rgb(180,180,180, 0.5);
        font-size: 13.3333px;
        line-height: normal;
        font-family: Arial;
    } */

}

/* ##### CSS FOR TABLET #####  */

@media only screen and (max-width: 999px) and (min-width: 681px){

    .navbar{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: var(--red);
	}

    .btn-menu, .close, .item-first{
        display: none;
    }
	
	.menu{
		width: 75%;
		height: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
    }

    .item{
        list-style: none;
        color: #fff;
		font-size: 1.8rem;
		text-align: center;
		padding:0.4rem;
    }
	
	.item:hover{
		background-color: #00284d;
		
	}
}

/* ##### CSS FOR MOBILE #####  */

@media screen and (max-width:680px){

    .navbar{
        width: 100%;
        padding: 0.2rem;
        top: 0;
        z-index: 3;
        background-color: var(--red);
        padding: 0.5rem;
    }
    
    /* Navbar's Input button */

    .navbar input[type=button]{
        width: 35px;
        height: 35px;
        background-color: var(--red);
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 3px;
        border: none;
        outline: none;
    }

    .navbar input[type=button]:hover{
        background-color: var(--red-hover);
    }

    .navbar input[type=button]:active{
        background-color: var(--red-active);

    }

    .navbar > div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu{
        width: 100%!important;
        height: 100%!important;
        left: 0;
        top: 0;
        background-color:rgba(0,0,0,0.5);
        position: fixed;
        overflow: auto;
        z-index: 2;
    }

    .menu-close {
        display: none;
    }

    .menu-open{
        display: flex;
        flex-direction: column;
    }

    .item:first-child div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        background-color:salmon!important;
        padding: 0px;
    }

    .nav-logo{
        width: auto!important;
        height: 35px;
    }

    .btn-menu{
        background-image: url("../../resources/img/menu-round.svg");
    }

    .btn-user{
        background-image: url("../../resources/img/user.svg");
    }

    .btn-cart{
        background-image: url("../../resources/img/cart-round.svg");
    }
 
    .view-user{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: var(--red-hover);
        padding: 0.5rem;
        float: left;
        box-sizing: border-box;
    }

    .img-user{
        width: 50px;
        height: 50px;
        background-color: white;
        border-radius: 50%;
    }

    .view-user label{
        font-size: 1rem;
        color: white;
        font-weight: bold;
    }

    .menu li{
        width: 70%;
        color: #aeaeae;
        display: flex;
        flex-direction: column;
        justify-content: left;
        font-size: 1rem;
        background-color: rgb(255, 255, 255);
        text-align: left;
        padding:  0.5rem 0.5rem 0.5rem 2rem;
    }

     
    .menu li:active {
         background-color: var(--red);
         color: white;
         font-weight: bold;
    }

    /************** CLOSE **************/

    .close{
        text-align: right;
        color: #fafdff;
        font-weight: bold;
        font-size: 1.5rem;
        position: fixed;
        margin-left: auto;
        right: 0;
    }

    /************** SEARCH **************/

    .container-search{
        display: flex;
        height: 40px;
        justify-content: center!important;
        align-items: center!important;
    }

    .container-search input{
        width: 90%;
        height: 30px;
        border: none;
        border-radius: 50px;
        outline: none;
        text-align: center;
        caret-color: var(--red);
    }

    .container-search input::placeholder{
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-variant-east-asian: normal;
        font-weight: 600;
        font-stretch: normal;
        color: rgb(180,180,180, 0.5);
        font-size: 13.3333px;
        line-height: normal;
        font-family: Arial;
    }

}