/* Cascading Style Sheets (css)*/

ul, li, h1, h2, p, body {
    padding: 0px;
    margin: 0px;
}

:root{
	--red: #ff1a1a;
	--red-hover: #e60000;
	--red-active: #b30000;
	--rosa: rgb(255,60,110);
}

* {
	font-family:arial;
	box-sizing: border-box;
}

/* ##### CSS FOR DESKTOP #####  */

@media screen and (min-width:1000px){

	/* .container-header{
		width: 100%;
		position: relative;
		background-color: #000;
	}
	
	.img-header{
		width: 100%;
		height: auto;
		display: block;
		background-repeat:no-repeat;
		filter: brightness(50%);
		background-attachment:fixed;
	
	}
	
	.box-header{
		width: inherit;
		height: 100%;
		padding: 5px;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		position: absolute;
	
	}

	.navbar{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #000;
	} */
	
	/* ********************* Navbar ********************* */

    /* .navbar-mobile{
        display: none;
	}

    .menu{
		width: 80%;
		height: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
    }

    .item{
        list-style: none;
        color: #fff;
		font-size: 1.8rem;
		text-align: center;
		padding:0.5rem;
    }
	
	.item:hover{
		background-color: #00284d;
		
	} */
	
	/* ********************* Conteúdo ********************* */

    /* .content-body{
        width: 100%;
		height: auto;
		box-sizing: border-box;

    }

    .container-cards{
        width: inherit;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center;
		padding: 2rem;
    }
	
	.title-section{
		width:100%;
		text-align:center;
		color:#fff;
		font-size: 2rem;
		padding: 0.2rem;
		background-color:#003566;
		
	} */

	/* ********************* Card ********************* */

	/* .card{
		width: 232px;
		height: auto;
		border: 1px solid #a79825;
	}

	.title-card{
		width: 100%;
		height: 45px;
		color: #003566;
		display: flex;
		align-items: center;
		justify-items: center;
		box-sizing: border-box;

	}

	.title-card p{
		margin-right: auto;
		margin-left: auto;
		font-size: 1.5em;
		font-family: sans-serif;
		font-weight: bold;
	}

	.box-img-card{
		width: 100%;
		height:295px;

	}

	.img{
		width:100%;
		height: 100%;
	}
	
	.box-price{
		width: 100%;
		height:30px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: white;
	}

	.box-price p{
		font-family: sans-serif;
		text-align: center;
		font-weight: bold;
		color: #003566;
		font-size:1.3rem;
	}
	
	.view-card{
		font-family: sans-serif;
		display: none;
		padding:10px;
		position: absolute;
		background-color:rgba(255,255,255,0.7);
	}

	.view-card h3{
		width:100%;
		text-align:center;
		color:#003566;
		text-shadow: 3px 3px #a79825;
		font-size: 2.5rem;
	}

	.add-cart{
		width:100%;
		height:13%;
		text-align:center;
		border: none;
		font-size: 1rem;
		font-weight: bold;
		color:white;
		outline: inherit;
		border-radius: 2%;
		background-color:#39ac46;
	}
	
	.add-cart:hover{
		background-color: #178a24;
	}

	.add-cart:active{
		background-color: #26732f;
	}

	.ico-cart{
        height: 100%;
		background-repeat:no-repeat;
		background-position: center;
		float: left;
		border-radius:3px;
		
	}

	.card:hover > .view-card{
		
		width: inherit;
		height: 372px;
		display: block;
		margin-top: -371px;
		margin-left: -1px;
	} */

	/* ********************* Footer ********************* */

    /* .footer{
        width: 100%;
        height: 150px;
        background-color: black;
    } */

}

/* ##### CSS FOR TABLET #####  */

@media only screen and (max-width: 999px) and (min-width: 681px){

	/* .container-header{
		width: 100%;
		position: relative;
		background-color: #000;
	}

	.img-header{
		width: 100%;
		height: auto;
		background-repeat:no-repeat;
		filter: brightness(50%);
		background-attachment:fixed;
	
	}
	
	.box-header{
		width: inherit;
		height: 100%;
		padding: 5px;
		top: 0;
		  left: 0;
		display: flex;
		justify-content: center;
		position: absolute;
	
	}
	
	.navbar{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #000;
	} */

	/* ********************* Navbar ********************* */
	
	/* .navbar-mobile{
        display: none;
	}
	
	.menu{
		width: 75%;
		height: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
    }

    .item{
        list-style: none;
        color: #fff;
		font-size: 1.8rem;
		text-align: center;
		padding:0.4rem;
    }
	
	.item:hover{
		background-color: #00284d;
		
	} */

	/* ********************* Conteúdo ********************* */

	/* .content-body{
		width: 100%;
		height: auto;
		box-sizing: border-box;
		overflow: hidden;
	}

	.container-cards{
		width: inherit;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: space;
		padding: 1rem;
	}
	
	.title-section{
		width:100%;
		text-align:center;
		color:#fff;
		font-size: 2rem;
		padding: 0.2rem;
		background-color:#003566;
		
	} */

	/* ********************* Card ********************* */

	/* .card{
		width: 200px;
		height: auto;
		border: 1px solid #a79825;
	}

	.title-card{
		width: 100%;
		height: 40px;
		color: #003566;
		display: flex;
		align-items: center ;
		justify-items: center;
		box-sizing: border-box;

	}

	.title-card p{
		margin-right: auto;
		margin-left: auto;
		font-size: 1.2em;
		font-family: sans-serif;
		font-weight: bold;
	}

	.box-img-card{
		width: 100%;
		height:250px;

	}

	.img{
		width: 100%;
		height: 100%;
		
	}
	
	.box-price{
		width: 100%;
		height:25px;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: white;
	}

	.box-price p{
		font-family: sans-serif;
		text-align: center;
		font-weight: bold;
		color: #003566;
		font-size:1.3rem;
	}
	
	.view-card{
		font-family: sans-serif;
		display: none;
		padding:10px;
		position: absolute;
		background-color:rgba(255,255,255,0.7);
	}

	.view-card h3{
		width:100%;
		text-align:center;
		color:#003566;
		text-shadow: 3px 3px #a79825;
		font-size: 2.5rem;
	}

	.add-cart{
		width:100%;
		height:13%;
		text-align:center;
		border: none;
		font-size: 1rem;
		font-weight: bold;
		color:white;
		outline: inherit;
		border-radius: 2%;
		background-color:#39ac46;
	}
	
	.add-cart:hover{
		background-color: #178a24;
	}

	.add-cart:active{
		background-color: #26732f;
	}

	.card:hover > .view-card{
		
		width: inherit;
		height: 317px;
		display: block;
		margin-top: -316px;
		margin-left: -1px;
	} */

	/* ********************* Footer ********************* */

    /* footer{
        width: 100%;
        height: 150px;
        background-color: black;
    } */
}

/* ##### CSS FOR MOBILE #####  */

@media screen and (max-width:680px){


	.container-header{
		width: 100%;
		height: auto;
		position: relative;
		background-color: var(--red-active);
	}

	.img-header{
		display: none;
	
	}
	
	.box-header{
		width: 100%;
		height: 60px;
		padding: 5px;
		display: flex;
		justify-content: center;
		
	
	}

	/* ********************* Navbar ********************* */

    .navbar{
       display: none;
    }
    
    .navbar-mobile{
		width: 100%;
		display: flex;
		justify-content: left;
		align-items: center;
		padding: 0.3rem;
		top: 0;
		z-index: 1;
		position: sticky ;
        background-color: var(--red);
    }
	
	.btn-menu{
		width: 35px;
        height: 35px;
		background-color: var(--red);
		background-image: url("../ico/ico-menu-round.svg");
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 3px;
		border: none;
		outline: none;
		
	}

	.btn-menu:hover{
		background-color: var(--red-hover);
	}

	.btn-menu:active{
		background-color: var(--red-active);

	}

	.modal-close:not(.img-user){
		display: none;
	}

	.modal-open{
		display: grid;
		grid-template-columns: 75% 25%;
		width: 100vw!important;
		height: 100vh!important;
		left: 0;
		top: 0;
		background-color:rgba(0,0,0,0.7);
		position: fixed;
		z-index: 0;
	}

	.view-user{
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		background-color: var(--red-hover);
		padding: 0.5rem;
		box-sizing: border-box;
	}

	.img-user{
		width: 50px;
		height: 50px;
		background-color: white;
		border-radius: 50%;
	}

	.view-user label{
		font-size: 1rem;
		color: white;
		font-weight: bold;
	}

	.view-user a{
		font-size: 1rem;
		color: white;
		font-weight: bold;
	}

	span{
		margin-left: 2px;
		text-align: right;
		color: #fafdff;
		font-weight: bold;
		font-size: 1.5rem;
	}

	.menu{
		width: 100%;
		background-color: white;
		justify-content: space-around;
		align-items: center;
	}

    .item{
        list-style: none;
        color: #aeaeae;
		font-size: 1rem;
		text-align: left;
		padding: 0.5rem;
		padding-left: 2rem;
    }
	
	.item:hover{
        background-color: var(--red);
		color: white;
    }

	/** Carousel */

	:root{
	--carousel-width: 360px;
	/* --carousel-width: 360px; */
	/* --carousel-height: 300px; */
	}
	
	body * { -webkit-user-select: none }
	
	.wrap {
		position: relative	;
		width: var(--carousel-width);
		height: 300px;
		margin: 0 auto;
		margin-bottom: 30px;
	}
	
	.window {
		overflow: hidden;
		position: relative;
	}
	
	#carousel {
		width: 10000px;
		position: relative;
		top: 0; left: -364px;
	}
	
	.slide {
		height: 300px;
		width: 360px;
		cursor: pointer;
		float: left;
		color: black;
		display: flex;
		text-align: center;
		flex-direction: column;
		justify-content: center;
	}
	
	
	.slide#b1 { background: #556270; }
	.slide#b2 { background: #4ECDC4; }
	.slide#b3 { background: #9CE462; }
	.slide#b4 { background: #FF6B6B; }
	.slide#b5 { background: #C44D33; }
	

	#prev, #next {
	cursor: pointer;
	width: 20px;
	height: 20px;
	border-radius: 50px;
	border: 1px solid rgb(130,130,130,0.1);
	background-color: rgba(130,130,130,0.3);
	position: absolute;
	bottom: -25px;
	font-size: 14pt;
	}

	#prev:hover , #next:hover{
		background-color: rgb(130,130,130,0.4);
	}
	
	#prev:active , #next:active{
		background-color: rgb(130,130,130,0.5);
	}

	#prev { 
		left: 40%
		 
	}
	
	#next { 
		right: 40% 
	}

	.transition {
	transition: .5s;
	}

	/* ********************* Conteúdo ********************* */

    .content-body{
        width: 100%;
		height: auto;
		box-sizing: border-box;
        overflow: hidden;
    }

    .container-cards{
        width: inherit;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: center ;
		padding: 0.5em;
    }
	
	.title-section{
		width:100%;
		text-align:center;
		color:#fff;
		font-size: 2rem;
		padding: 0.2rem;
		background-color:#003566;
		display: none;	
	}

	/* ********************* Card ********************* */

	.card-closed{
		width: 140px;
		height: auto;
		margin-bottom: 0.5rem;
	}

	.card-open{
		width: 100vw!important;
		height: 100%!important;
		background-color: rgba(0,0,0,0.8);
		font-size: 1.5rem;
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-direction: column;
		position: absolute;
		margin-bottom: 0rem;
		top: 0;
		z-index: 1;
	}

	.title-card{
		width: 100%;
		display: flex;
		align-items: center;
		justify-items: center;
		box-sizing: border-box;

	}

	.card-open .title-card{
		color: white;
		
	}

	.xiszinho{
		background-color: rgba(200,200,200,0.7);
		padding: 20px;
		margin: 0px;
		text-align: center;
		border-radius: 50px;
		box-sizing: border-box;
	}

	.title-card p{
		margin-right: auto;
		margin-left: auto;
		font-size: 0.9em;
		font-family: sans-serif;
		font-weight: bold;
	}

	.box-img-card{
		width: 100%;
		height:200px;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		position: relative;
		box-sizing: border-box;
	}

	.ico-heart{
		position: absolute;
		width: 50px;
		height: 50px;
		bottom: 0;
		right: 0;
	}

	svg :active path{
		fill: var(--rosa);
	}

	.card-open .box-img-card{
		width: 100%;
		height: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		
	}


	.img-prod{
		width: 100%;
		height: 100%;
		border-radius: 3px;
		background-position: center;
	}

	.card-open .img-prod{
		width:80%;
		height: auto;
		border-radius: 5px;
	}
	
	.box-price{
		width: 100%;
		height:30px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.card-open .box-price{
		width: 100%;
		color: white;
		font-size: 5em;
	}

	.box-price p{
		font-family: sans-serif;
		text-align: center;
		font-weight: bold;
		/* color: #003566; */
		font-size:1rem;
	}
	
	.view-card{
		font-family: sans-serif;
		display: none;
		padding: 10px;
		background-color: rgba(255,255,255,0.7);
		font-family: sans-serif;
		padding: 10px;
		width: 100vw!important;
		height: 100vh!important;
		left: 0;
		bottom: 0;
		position: fixed;
		z-index: 1;
	}

	.view-card h3{
		width: 100%;
		text-align: center;
		color: #003566;
		text-shadow: 3px 3px #a79825;
		font-size: 2.5rem;
	}

	.add-cart{
		width:100%;
		height:13%;
		display: flex;
		align-items: center;
		justify-content: space-around;
		text-align:center;
		border: none;
		font-size: 1rem;
		font-weight: bold;
		color:white;
		outline: inherit;
		border-radius: 4px;
		background-color:#39ac46;
	}
	
	.add-cart:hover{
		background-color: #178a24;
	}

	.add-cart:active{
		background-color: #26732f;
	}

	.ico-cart{
        height: 100%;
		background-repeat:no-repeat;
		background-position: center;
		float: left;
		border-radius:3px;
		
	}
/* 
	.card:hover > .view-card{
		
		display: flex;
		width: inherit;
		height: 372px;
		flex-direction: column;
		margin-top: -371px;
		margin-left: -1px;
		z-index: 0.7;
	} */

	/* ********************* Footer ********************* */

    footer{
        width: 100%;
        height: 150px;
        background-color: black;
    }

}